font-family: 'Open Sans', sans-serif;

*{
    margin: 0px;
    padding: 0px;
}
/*header part*/

.banner-container{
    border: none;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner-title{
    font-size: 60px;
    font-weight: bold;
}
.banner-description{
    font-size: 18px;
    color: gray;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn-primary{
    color: white;
    background-color: crimson;
    padding: 17px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.btn-primary:hover{
    background-color: chocolate;
}
.banner-image{
    width: 300px;
}
/*main part*/

/*bonus part*/


.bonus-container{
    border: none;
    height: 100vh;
    margin: 30px 150px;
}
.bonus-item{
    text-align: center;
    margin: 20px;
}

.bonus-box-container{
    display: flex;
    justify-content:space-around;
   
    
    
}
.bonus-boxer{
    text-align: center;
    
    
}
.bonus-box{
    height: 350px;
    width: 250px;
    border: none;
    border-top-left-radius: 130px;
    border-top-right-radius: 130px;
    margin-bottom: 10px;
    background-color: rgb(230, 215, 215);
    
}
.bonus-box-img{
    height: 300px;
    width: 200px;
}
.tree{
    font-size: 18px;
    color: black;
    font-weight: bold;
}



/*feature part*/

.feature-container{
    border: none;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.feature-side{
    text-align: center;
    
}
.feature-title{
    font-size: 40px;
    font-weight: bold;
}
.off{
    color: red;
}
.feature-des{
    font-size: 18px;
    color: gray;
    margin-top: 15px;
    margin-bottom: 15px;
}

.feature-image{
    width: 300px;
}


/*instagram part*/

.ins-container{
    border: none;
    height: 100vh;
}

.box{
    height: 350px;
    width: 250px;
    border: 3px solid white;
  
}
.box:hover{
    border: 3px solid aqua;
}
.box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 120px;
}
.box-img{
    height: 345px;
    width: 250px;
    
}

/*form*/

.form-section{
    height: 350px;
    width: 1100px;
    margin: 0px 120px;
    background-image: url(../images/Rectangle\ 9.png);
    background-repeat: no-repeat;

}

.form-button{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.form-details{
    text-align: center;
    padding-top: 80px;
}
.form-size input{
    border: none;
    padding: 20px 170px;
    border-radius: 5px;
    margin-left: 150px;

}

/*footer section*/
.footer{
    height: 50vh;
    margin-top: 30px;
    background-color: cadetblue
}
.footer-content{
    display: inline;
    text-align: center;
    margin: 100px;
}
.footer-title{
    font-size: 40px;
    font-weight: bold;
    margin-top: 50px;

}
.footer-des{
    font-size: 16px;
    color: beige;
}